<IfModule mod_rewrite.c>
	RewriteEngine  on
#	Uncomment this line if you have a crappy host
#	RewriteBase    /packager/
	RewriteRule    ^download/([0-9]+)$  download.php?packager_id=$1      [L,QSA]
	RewriteRule    ^xml/([a-z_]+)$      download_xml.php?table=$1        [L,QSA]
	RewriteRule    ^package/([a-z_]+)$  view_package.php?package=$1      [L,QSA]
	RewriteRule    ^version/([0-9]+)$   view_version.php?packager_id=$1  [L,QSA]
</IfModule>
